<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
  </head>
  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% cats.forEach(function(item) { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
